<div class="polite-sidebar">
    <div class="sidebar__item" [routerLink]="['/home']">
        <img src="./../../../../assets/search_icon.svg" alt="search_icon">
    </div>
    <div class="sidebar__item" [routerLink]="['/notifications']">
        <img src="./../../../../assets/notification_bell_icon.svg" alt="notification_bell_icon">
    </div>
    <div class="sidebar__item" [routerLink]="['/services']">
        <img src="./../../../../assets/suitcase_icon.svg" alt="suitcase_icon">
    </div>
    <div class="sidebar__item" [routerLink]="['/chats']">
        <img src="./../../../../assets/message_icon.svg" alt="message_icon">
    </div>
    <div class="sidebar__item" [routerLink]="['/profile']">
        <img src="./../../../../assets/profile_icon.svg" alt="profile_icon">
    </div>
    <div class="sidebar__item" [routerLink]="['/menu']">
        <img src="./../../../../assets/menu_icon.svg" alt="menu_icon">
    </div>
</div>