<div class="title">
    <h1>Chats</h1>
</div>

<div class="polite-cards">
    <div class="polite-card">
        <div class="polite-card-icon">
            <img src="./../../../assets/avatar_default_a_icon.svg" alt="avatar_default_a_icon">
        </div>
        <div class="polite-card-row">
            <div class="polite-card-title">
                <p>Gorka Aparicio</p>
            </div>
            <div class="polite-card-description">
                <p>Good news someone has viewed your offer!</p>
            </div>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card-icon">
            <img src="./../../../assets/avatar_default_b_icon.svg" alt="avatar_default_b_icon">
        </div>
        <div class="polite-card-row">
            <div class="polite-card-title">
                <p>Gorka Aparicio</p>
            </div>
            <div class="polite-card-description">
                <p>Good news someone has viewed your offer!</p>
            </div>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card-icon">
            <img src="./../../../assets/avatar_default_c_icon.svg" alt="avatar_default_c_icon">
        </div>
        <div class="polite-card-row">
            <div class="polite-card-title">
                <p>Gorka Aparicio</p>
            </div>
            <div class="polite-card-description">
                <p>Good news someone has viewed your offer! Good news someone has viewed your offer! Good news someone has viewed your offer!</p>
            </div>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card-icon">
            <img src="./../../../assets/avatar_default_d_icon.svg" alt="avatar_default_d_icon">
        </div>
        <div class="polite-card-row">
            <div class="polite-card-title">
                <p>Gorka Aparicio</p>
            </div>
            <div class="polite-card-description">
                <p>Good news someone has viewed your offer!</p>
            </div>
        </div>
    </div>
</div>
