<div class="polite-section">
    <form>
        <div class="polite-input-row">
            <img src="./../../../assets/search_icon.svg" alt="search_icon">
            <input class="polite-input" type="text" placeholder="Search">
        </div>

        <div class="polite-input-row">
            <img src="./../../../assets/location_icon.svg" alt="location_icon">
            <input class="polite-input" type="text" placeholder="City or State">
        </div>
        
        <button  class="polite-button">Search Service</button>
    </form>
</div>

<div class="polite-cards">
    <div class="polite-card" *ngFor="let card of cards">
        <div class="polite-card-title">
            <p>{{card.title}}</p>
        </div>
        <div class="polite-card-description">
            <p>{{card.description}}</p>
        </div>
        <div class="polite-card-price">
            <p>Cost: {{card.price}}$</p>
        </div>
    </div>
</div>
