<div class="title">
    <h1>Notifications</h1>
</div>
<div class="polite-cards">
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
    <div class="polite-card">
        <div class="polite-card__icon">
            <img src="./../../../assets/warning-icon.svg" alt="image">
        </div>
        <div class="polite-card__text">
            <p>Good news someone has viewed your offer!</p>
        </div>
    </div>
</div>
