<div class="login-container">
    <div class="login-left-section">
        <div class="brand-cell">
            <img src="./../../../assets/logo_icon_alt.svg" alt="logo_icon">
        </div>
        <div class="slogan-cell">
            <h1>Project your services on the most important platform in the market</h1>
        </div>
        <div class="banner-cell">
            <img src="./../../../assets/banner_icon.jpeg" alt="banner_icon">
        </div>
    </div>

    <div class="login-right-section">
        <div class="brand-container-row">
            <div class="brand-cell">
                <img src="./../../../assets/logo_icon_alt.svg" alt="logo_icon">
            </div>
            <div class="create-account-cell">
                <p class="have-account">Do you have an account?</p>
                <p class="create-one">create one</p>
            </div>
        </div>
        
        <div class="create-account-row">
            <p class="have-account">Do you have an account?</p>
            <p class="create-one">create one</p>
        </div>
        
        <div class="title-row">
            <h1>Log in to app</h1>
        </div>
        
        <div class="input-row">
            <div class="label-cell">
                <label for="email">email</label>
            </div>
            <div class="input-cell">
                <input type="text" name="email" id="email">
            </div>
        </div>
    
        <div class="input-row">
            <div class="label-cell">
                <label for="password">password</label>
            </div>
            <div class="input-cell">
                <input type="password" name="password" id="password">
            </div>
        </div>
        
        <div class="actions-row">
            <div class="button-cell">
                <button>Log In</button>
            </div>
            
            <div class="forgot-cell">
                <p>I forgot my password</p>
            </div>
        </div>
    </div>
    
    
</div>
